<nav class="navbar navbar-dark bg-primary standar-nav-bar">
  <div class="nav navbar-nav">
    <%= link_to root_path, class: "nav-item nav-link" do %>
      <i class="fa fa-futbol-o" aria-hidden="true"></i>
        DePrimera <span class="sr-only">(current)</span>
    <% end %>
    <%= link_to team_all_path, class: "nav-item nav-link" do %>
      Equipos
    <% end %>
  </div>
</nav>
