<div class="container-fluid">
  </br>
  <div class="page-header">
    <h1>
      Opciones de admin
      <small>
        Usa bien tus poderes!!
      </small>
    </h1>
  </div>
  <div class="row">
    <ul>
      <li>
        <%= link_to "Crear Jornada", new_admin_week_path %>
      </li>
      <li>
        <%= link_to "Crear Partido", new_admin_match_path %>
      </li>
    </ul>
  </div>
</div>
