@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

@import "menus/nav_bar_standar";

@import "teams/team_all";

@import "admin/admin_session";


div.wrapper {
  height: 100px;
  line-height: 100px;
  overflow:hidden;
  text-align:center;
  width: 100px;
}
div.wrapper img {
  width: 100%; /* or any custom size */
  height: 100%;
  object-fit: contain;
}

.matches-list {
  margin-top: 20px;
  margin-left: 10px;
}

.matches-list-row {
  margin-top: 20px;
  margin-bottom: 20px;
}

.matches-list-text {
  padding-top: 30px;
}
